/* Country.module.css */

.countryMainContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: 100vh;
}

.countryContainer {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: 22.9em;
  background-color: #5788e5;
  border-radius: 6px;
  height: 99.2vh;
  gap: 4rem;
  padding: 0rem;
}

.countryAndFlagItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ctryFlag {
  width: 150px;
}

.countryFlagName {
  color: gold;
  font-size: 30px;
}

.countryInformation {
  list-style: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.countryInformationList {
  display: flex;
  align-items: center;
  height: 5em;
  flex-direction: row;
  margin-left: 0;
  padding-left: 0;
}

.key {
  font-weight: bold;
  flex-grow: 1;
}

.value {
  flex-grow: 3;
  padding-left: 4em;
}

.countryDetails {
  background-color: #4369b0;
  width: 22.9em;
  padding-top: 2rem;
}

.countryAndFlag {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  justify-content: center;
}

.link {
  text-overflow: ellipsis;
  text-decoration: none;
  width: 12em;
  height: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Apply alternating colors to rows */
.countryInformationList:nth-child(even) {
  background-color: #5788e5;
}

.countryInformationList:nth-child(odd) {
  background-color: #4369b2;
}

