/* Common styles for both desktop and mobile */
.countryMainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countryContainer {
  display: flex;
  padding-left: 0;
  margin-left: 0;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 22em;
  border-radius: 6px;
  background-color: #5788e5;
}

.countryList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 22.8em;
}

.rowContainer {
  display: flex;
}

.selectHeader {
  width: 21em;
  height: 10px;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #0b2e50;
}

.link {
  text-overflow: ellipsis;
  text-decoration: none;
  width: 100%; /* Set a fixed width */
  height: 150px; /* Set a fixed height */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.evenCountry {
  background-color: #5788e5;
  width: 50%;
}

.oddCountry {
  background-color: #4369b2;
  width: 50%;
}

.countryName {
  color: #fff;
}

.countryFlag {
  color: gold;
  padding: 1em;
  font-size: 18px;
}

/* Media query for mobile devices with a screen width up to 768px */
@media (max-width: 768px) {
  .countryContainer {
    width: 100%; /* Reduce the width for mobile devices */
  }

  .link {
    width: 100%; /* Reduce the width for mobile devices */
    height: 150px; /* Adjust the height for mobile devices */
    font-size: 20px;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    font-weight: 900; /* Add some bottom margin to separate rows on mobile */
  }

  .linkList {
    width: 100%;
  }
}
