.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 13rem;
  background-color: #4369b2;
  padding: 5px 9px 5px 7px;
  color: #fff;
}

.navLink {
  color: #fff;
}

.navLinkIcons {
  display: flex;
  gap: 1rem;
}
